[submodule "tads-tec.0015/20181_trabalho_linked_list_int"]
	path = tads-tec.0015/20181_trabalho_linked_list_int
	url = https://gitlab.devops.ifrn.edu.br/20172014040003/20181_trabalho_linked_list_int.git
